[submodule "firmware/RepRapFirmware"]
	path = firmware/RepRapFirmware
	url = https://github.com/Duet3D/RepRapFirmware
[submodule "firmware/klipper"]
	path = firmware/klipper
	url = https://github.com/Klipper3d/klipper
[submodule "firmware/Marlin"]
	path = firmware/Marlin
	url = https://github.com/MarlinFirmware/Marlin
